
{{#if productos}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}

        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td>
                <img src={{this.imagen}} alt="img" width="50">
            </td>
        </tr>

        {{/each}}
        


    </tbody>
</table>
{{else}}
<h1>No hay productos</h1>
{{/if}}
